.mystyle {  
  background-color: #cdc0b0;  
  color: Red;  
  padding: 10px;  
  font-family: Arial;  
}  
  
.parastyle{  
  color: #fff;  
  font-family: Arial;  
  font-size: 35px;   
}  
